@font-face {
  font-family: "iconfont"; /* Project id 4690633 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1727051556614') format('woff2'),
       url('iconfont.woff?t=1727051556614') format('woff'),
       url('iconfont.ttf?t=1727051556614') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun:before {
  content: "\e69b";
}

.icon-dingdan1:before {
  content: "\e60f";
}

.icon-xitongbaojing:before {
  content: "\e629";
}

.icon-shangpin:before {
  content: "\e86d";
}

.icon-duanxin:before {
  content: "\e608";
}

.icon-xitongguanli:before {
  content: "\e603";
}

.icon-yonghu:before {
  content: "\e614";
}

.icon-dingdan:before {
  content: "\e60e";
}

.icon-youhuiquan:before {
  content: "\e61f";
}

.icon-wenzhang:before {
  content: "\ec64";
}

.icon-weifenxiao:before {
  content: "\e76d";
}

